.distance-card{
  margin: 0 auto;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  &__sort-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    gap: 10px;

    &-input {
      border-radius: 4px;
      border-color: hsl(0, 0%, 80%);
      padding-left: 8px;
    }
  }

  &__row-elem {
    border: 1px solid gray;
    height: 30px;
    padding: 5px;
    color: black;
  }

  &__header{
    font-size: 2rem;
    color: black;
  }

  &__sort-button {
    background-color: rgb(80, 144, 234);
    border: none;
    border-radius: 4px;
    height: 38px;
    width: 100%;
  }

  &__sort-button:hover {
    background-color: rgba(21, 61, 111, 0.90);
  }
}