.pagination {
  display: flex;
  flex-direction: row;
  gap: 10px;

  &__number {
    width: 30px;
    height: 30px;
    color: white;
    background-color: rgb(80, 144, 234);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  &__number_is_active {
    background-color: rgb(51, 53, 55)
  }

  &__number:hover {
    background-color: rgba(21, 61, 111, 0.90);
  }
}